@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&display=swap');

body {
    background-color: #c7c7c7;
    background-image: linear-gradient(#c4c4c4,#e4e6e5);
    color: #333239;
    margin: 0;
    font-family: 'Inconsolata', monospace;
    overflow-x: hidden;
}

#top-container {
    position: relative;
    margin-top: 50px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid #333239; */
}

#background-image {
    max-height: 850px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#mid-page-navbar {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    background-color: #333239;
    color: #c7c7c7;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-zone {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #333239;
    height: 120px;
    margin-bottom: 20px;
}